<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/blog/bs/css/bootstrap.css">
</head>
<body>
<h3>登入页面</h3>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-offset-3">
            <form>
                {% csrf_token %}
                <div class="form-group">
                    <label for="user">用户名</label>
                    <input type="text" id="user" class="form-control">
                </div>
                 <div class="form-group">
                    <label for="pwd">密码</label>
                    <input type="password" id="pwd" class="form-control">
                </div>

                <div class="form-group">
                    <label for="pwd">验证码</label>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" id="valid_code form-control">
                         </div>
                        <div class="col-md-6">
                            <img width="270" height="40" id="valid_code_img" src="/get_validCode_img/" alt="">
                        </div>
                    </div>
                </div>
                <input type="buttn" class="btn btn-default login-btn pull-right" value="submit">
            </form>
        </div>
    </div>
</div>
<scrip src="/static/js/jquery-3.2.1.min.js"></scrip>
<script>
    $("#valid_code_img").click(function () {
        $(this)[0].src+="?"
    })
       //刷新验证码
    $(".login-btn").click(function () {
        $.ajax({
            url:"",
            type:"post",
            data:{
                user:$("#user").val(),
                pwd:$("#pwd").val(),
                pwd:$("#pwd").val(),
                valid_code:$("#valid_code").val()
            }
        })
    })

</script>
</body>
</html>